<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Study</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link href="../static/login.css" rel="stylesheet" />
    <script src="../static/login.js"></script>
</head>

<style type="text/css" >
    a:link{ font-size: 12.5px; color:rgb(255, 155, 47); text-decoration:none; }    /* 처음 방문링크 */
    a:visited{ font-size: 12.5px; color:rgb(255, 155, 47);}    /* 방문한 링크 */
    a:hover{ font-size: 12.5px; color: rgb(255, 77, 46); } /* 마우스 오버시 */ 
</style>

<body style = "margin-left:625px; margin-top:220px;">
    <form action={% url 'login' %} method="POST">
    {% csrf_token %}
        <div class="main">
            <div class="title"><h1 style="font-size: 34px; font-weight: bold;">로그인</h1></div>
            <div style = "padding: 19px;"></div>
            <script>function enterkey() {
                if (window.event.keyCode == 13) {
                document.getElementById("login").click();
                }
            }</script>
            <div class="login">
                <div class="login_id">
                    <input name = "email" type="text" placeholder="아이디" id="email" class="account" onkeyup="enterkey()">
                </div>
                <div style="padding: 8px"></div>
                <div class="login_pw">
                    <input name = "password" type="password" placeholder="비밀번호" id="password" class="account" onkeyup="enterkey()">
                </div>
                <div class="submit">
                    <button id="login">
                        <h1 style="font-size: 14px"> 로그인 </h1></button>
                </div>
                <div class="signup">
                <label id="signup" style="color: rgb(192, 192, 192); font-size: 12.5px;">아직 계정이 없다면</label>
                <h1 style="white-space:nowrap; position:absolute; left:808px; top:563px;"><a id="signup" href="{% url 'signup' %}">회원가입</a></h1>
                </div>
                <p id="alert" class="account"> </p>
                <div style="padding: 8px"></div>
                {% if response %}
                    <h3 style="color: red">{{response}}</h3>
                {% endif %}
            </div>
        </div>   
        <script src="login.js"></script>
    </form>
</body>
</html>