<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Study</title>
    <link rel="stylesheet" type="text/css" href="login.css">
    <link href="../static/login.css" rel="stylesheet" />
    <script src="../static/login.js"></script>
</head>

<style type="text/css" >
    a:link{ color:rgb(255, 155, 47); text-decoration:none; }    /* 처음 방문링크 */
    a:visited{ color:rgb(255, 155, 47);}    /* 방문한 링크 */
    a:hover{ color: rgb(255, 77, 46); } /* 마우스 오버시 */ 
</style>

<body>
    <form action={% url 'login' %} method="POST">
    {% csrf_token %}
        <div class="main">
            <script>function enterkey() {
                if (window.event.keyCode == 13) {
                document.getElementById("login").click();
                }
            }</script>
            <div class="login">
                <h1 class="logo">LOGIN</h1>
                <div class="login_id">
                    <input name = "email" type="text" placeholder="아이디" id="id" class="account" onkeyup="enterkey()">
                </div>

                <div class="login_pw">
                    <input name = "password" type="password" placeholder="비밀번호" id="password" class="account" onkeyup="enterkey()">
                </div>
                <div class="submit">
                    <button id="login">로그인</button>
                </div>
                <div class="signup">
                <label id="signup">아직 계정이 없다면</label>
                <a id="signup" href="{% url 'signup' %}">회원가입</a>
                </div>
                <p id="alert" class="account"> </p>
                <div style="padding: 8px"></div>
                {% if response %}
                    <h3 style="color: red">{{response}}</h3>
                {% endif %}
            </div>
        </div>   
        <script src="login.js"></script>
    </form>
</body>
</html>