#container {
	margin: 2% auto;
    margin-left: 2%;
	width: 700px;
	height: 500px;
	border: 0px #333 solid;
}
#videoElement {
	width: 700px;
	height: 500px;
	background-color: #333;
}

.wrapper{
	display: grid;
	grid-template-columns: 5fr 5fr;
	margin-bottom: -160px;
 }
 
.graph{
	display: inline-block;
	margin-left: 50px;
 }
 
.doughnut{
	display: block;
	margin-bottom: 100px;
 
 }
 
.wrapper2{
	display: grid;
	grid-template-columns: 2.5fr 2.5fr 5fr;
	margin-top: 0px;
 }