* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
  }

.main {
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid lightgrey;
    border-radius: 5px;
    text-align : center;
}

.logo {
    margin-top: -10px;
    margin-bottom: 40px;               
}

