* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 11px;
}


html {
    width: 400px;
    display: flex;
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    margin: 0 auto;
    width: 1500px;
    font-size: 14px;
    box-shadow: 1px 1px 3px 3px rgb(235, 235, 235);
    background-color: rgba(255, 255, 255, 0.968);
}

div{
    background-color: white;
}

input{
    border: 1.3px solid rgb(56, 56, 56);
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}


.wrapper {
    padding: 30px;
}

div {
    padding-top: 3px;
    padding-bottom: 8px;
}

.title {
    text-align: center;
    color: orange;
}

.email input {
    width: 100%;
}

.name input {
    width: 100%;
}

.password input {
    width: 100%;
}

.passwordCheck input {
    width: 100%;
}

.purpose select {
    width: 100%;
    height: 40px;
}

.signUp button {
    width: 100%;
    background-color: orange;
    cursor:pointer;
    border: 0;
    outline: 0;
}

button{
    cursor: pointer;
    color:white;
    height: 30px;
}

.error{
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
}