@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
}

html {
    width: 400px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    width: 480px;
    box-shadow: 0 0 7px 1px  rgba(225, 225, 225, 0.788);
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.804);
}

input{
    border: 0.5px solid rgba(56, 56, 56, 0.616);
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

div {
    padding-top: 3px;
    padding-bottom: 8px;
}

.main {
    margin: 0 auto;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.title {
    text-align: center;
    color: rgb(255, 155, 47);
}

.login_id input{
    width: 100%;
}

.login_pw input{
    width: 100%;
}

.submit {
    margin-top: 15px;
}

#login{
    width: 100%;
    background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
    cursor:pointer;
    border-radius: 45px;
    border: 0;
    outline: 0;
}

.signup{
    padding-top: 10px;
    font-size:14px;
}

button{
    cursor: pointer;
    color:white;
    width: 100px;
    height: 40px;
}