@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 12px;
}


html {
    width: 400px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    width: 480px;
    box-shadow: 0 0 7px 1px  rgba(225, 225, 225, 0.788);
    border-radius: 45px;
    background-color: rgba(255, 255, 255, 0.804);
}

input{
    border: 0.5px solid rgba(56, 56, 56, 0.616);
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}


.wrapper {
    margin: 0 auto;
    padding: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

div {
    padding-top: 3px;
    padding-bottom: 8px;
}

.password, .passwordCheck{
    margin: 0 auto;
    position: relative;
}

.password input, .passwordCheck input{
    width: 100%;
    border: 0.5px solid rgba(56, 56, 56, 0.616);
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.password i, .passwordCheck i{
    position: absolute;
    left: 90%;
    top: 15.5px;
    color: rgba(56, 56, 56, 0.616);
}

.title {
    text-align: center;
    color: rgb(255, 155, 47);
}

.email input {
    width: 100%;
}

.name input {
    width: 100%;
}

/* .password input {
    width: 100%;
}

.passwordCheck input {
    width: 100%;
} */

.purpose select {
    width: 100%;
    height: 40px;
}

.signUp button {
    width: 100%;
    background-color: rgb(255, 155, 47);
    cursor:pointer;
    border-radius: 45px;
    border: 0;
    outline: 0;
}

button{
    cursor: pointer;
    color:white;
    width: 100px;
    height: 40px;
}

.error{
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
}