@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
  }

#container {
	margin: 2% auto;
    margin-left: 2%;
	width: 700px;
	height: 524px;
}
#videoElement {
	width: 700px;
	height: 525px;
	background-color: #333;
}

.wrapper{
	display: grid;
	grid-template-columns: 5fr 5fr;
	margin-bottom: -160px;
 }
 
.graph{
	display: inline-block;
	margin-left: 50px;
 }
 
.doughnut{
	display: block;
	margin-bottom: 100px;
 
 }
 
.wrapper2{
	display: grid;
	grid-template-columns: 2.5fr 2.5fr 5fr;
	margin-top: 0px;
 }

 .myButton {
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	background-color:#ffc477;
	border-radius:2px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:light;
	padding:2px 4.5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc9f52;
}
.myButton:hover {
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}

.signupButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #ff8400;
	display:inline-block;
	cursor:pointer;
	color:#ff7700;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:4px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.signupButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.signupButton:active {
	position:relative;
	top:1px;
}
